.nav{
height: 50px;
padding: 10px;
display: flex;
align-items: center;
justify-content: flex-start;
background: #000;
color: #fff;
}
.nav ul{
display: flex;
align-items: center;
justify-content: center;
list-style: none;
}
.nav ul li a{
    margin: 5px 10px;
}